# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Environments
.venv/
.env
.env.local

# Tools
.mypy_cache/
.ruff_cache/
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
terraform.tfvars
.terraform.lock.hcl
.terraform.tfstate.*
.terraform.lock.hcl



# uv
uv.lock
